@using AutoHub.Web.LanguageResources
@model AutoHub.Web.ViewModels.Adverts.CreateAdvertInputModel

@{
    const string DefaultSelectListItemText = "No items";
}

<h1 class="display-4">Create new advert</h1>

<form asp-controller="Adverts" asp-action="Create" class="col-md-6" method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control mb-2" placeholder="@Resource.ExampleTitle" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control mb-2" placeholder="@Resource.PriceIsNegotiable" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control mb-2" placeholder="@Resource.ExampleDescription" rows="5"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ManufactureYear"></label>
        <select asp-for="ManufactureYear" asp-items="Model.YearItems" class="form-control mb-2" autocomplete="on"></select>
        <span asp-validation-for="ManufactureYear" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ManufactureMonth"></label>
        <select asp-for="ManufactureMonth" asp-items="Model.MonthItems" class="form-control mb-2" autocomplete="on"></select>
        <span asp-validation-for="ManufactureMonth" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Kilometrage"></label>
        <input asp-for="Kilometrage" class="form-control mb-2" />
        <span asp-validation-for="Kilometrage" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="HorsePowers"></label>
        <input asp-for="HorsePowers" class="form-control mb-2" />
        <span asp-validation-for="HorsePowers" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EngineId"></label>
        <select asp-for="EngineId" asp-items="Model.EngineItems" class="form-control mb-2"></select>
        <span asp-validation-for="EngineId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TransmissionId"></label>
        <select asp-for="TransmissionId" asp-items="Model.TransmissionItems" class="form-control mb-2"></select>
        <span asp-validation-for="TransmissionId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ColorId"></label>
        <select asp-for="ColorId" asp-items="Model.ColorItems" class="form-control mb-2" autocomplete="on"></select>
        <span asp-validation-for="ColorId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConditionId"></label>
        <select asp-for="ConditionId" asp-items="Model.ConditionItems" class="form-control  mb-2"></select>
        <span asp-validation-for="ConditionId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>@Resource.Brand</label>
        <select asp-items="Model.BrandItems" class="form-control mb-2" autocomplete="on" onchange="updateModelsByBrand(this)"></select>
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ModelId"></label>
        <select asp-for="ModelId" id="models" class="form-control mb-2" autocomplete="on">
            <option value="">@DefaultSelectListItemText</option>
        </select>
        <span asp-validation-for="ModelId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BodyStyleId"></label>
        <select asp-for="BodyStyleId" asp-items="Model.BodyStyleItems" class="form-control mb-2"></select>
        <span asp-validation-for="BodyStyleId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EuroStandardId"></label>
        <select asp-for="EuroStandardId" asp-items="Model.EuroStandardItems" class="form-control mb-2"></select>
        <span asp-validation-for="EuroStandardId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>@Resource.Region</label>
        <select asp-items="Model.RegionItems" class="form-control mb-2" autocomplete="on" onchange="updateTownsByRegion(this)"></select>
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TownId"></label>
        <select asp-for="TownId" id="towns" class="form-control mb-2" autocomplete="on">
            <option value="">@DefaultSelectListItemText</option>
        </select>
        <span asp-validation-for="TownId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="HasFourDoors"></label>
        <select asp-for="HasFourDoors" class="form-control mb-2">
            <option value="false" selected>2/3</option>
            <option value="true">4/5</option>
        </select>
    </div>

    <div class="form-group ml-4 mt-4">
        <input asp-for="IsNewImport" class="form-check-input" />
        <label asp-for="IsNewImport"></label>
        <span asp-validation-for="IsNewImport"></span>
    </div>
    <div class="form-group ml-4">
        <input asp-for="IsExteriorMetallic" class="form-check-input" />
        <label asp-for="IsExteriorMetallic"></label>
        <span asp-validation-for="IsExteriorMetallic"></span>
    </div>
    <div>
        <input type="submit" value="Create" class="form-control btn btn-info col-md-4" />
    </div>
</form>

<script>
    const EMPTY_STRING = "";
    const defaultOptionName = "@Html.Raw(DefaultSelectListItemText)";
    const token = "23DGUIS98NCNSHJPOOOOPX3341UIKLLASD";

    function updateModelsByBrand(sender) {
        let brandId = sender?.value;
        let url = `/Adverts/GetModelsByBrand?BrandId=${brandId}`;
        sendGetRequest(url, res => updateSelectElement("models", res));
    }

    function updateTownsByRegion(sender) {
        let regionId = sender?.value;
        let url = `/Adverts/GetTownsByRegion?RegionId=${regionId}`;
        sendGetRequest(url, res => updateSelectElement("towns", res));
    }

    function sendGetRequest(url, onSuccess) {
        $.ajax({
            url: url,
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            headers: { "X-CSRF-TOKEN": token },
            success: (res) => onSuccess(res),
        });
    }

    function updateSelectElement(id, items) {
        let models = document.querySelector(`#${id}`);
        models.innerHTML = EMPTY_STRING;
        if (items.length == 0) {
            items.unshift({ name: defaultOptionName, id: EMPTY_STRING });
        }
        for (let model of items) {
            let option = document.createElement("option");
            option.textContent = model.name;
            option.value = model.name === defaultOptionName ? EMPTY_STRING : model.id;
            models.appendChild(option);
        }
    }
</script>