@model AutoHub.Web.ViewModels.Adverts.CreateAdvertInputModel

@{
    const string DefaultSelectListItemText = "No items";
}

<h1 class="display-2">Create new advert</h1>

<form asp-controller="Adverts" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control"/>
        <span asp-validation-for="Title"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control"/>
        <span asp-validation-for="Price"></span>
    </div>
    <div class="form-group">
        <h6>Manufacture date</h6>
        <hr />
        <label asp-for="ManufactureYear"></label>
        <input asp-for="ManufactureYear" class="form-control"/>
        <span asp-validation-for="ManufactureYear"></span>
        <label asp-for="ManufactureMonth"></label>
        <input asp-for="ManufactureMonth" class="form-control"/>
        <span asp-validation-for="ManufactureMonth"></span>
    </div>
    <div class="form-group">
        <label asp-for="Kilometrage"></label>
        <input asp-for="Kilometrage" class="form-control"/>
        <span asp-validation-for="Kilometrage"></span>
    </div>
    <div class="form-group">
        <label asp-for="HorsePowers"></label>
        <input asp-for="HorsePowers" class="form-control"/>
        <span asp-validation-for="HorsePowers"></span>
    </div>
    <div class="form-group">
        <label asp-for="EngineId"></label>
        <select asp-for="EngineId" asp-items="@Model.EngineItems" class="form-control"></select>
        <span asp-validation-for="EngineId"></span>
    </div>
    <div class="form-group">
        <label asp-for="TransmissionId"></label>
        <select asp-for="TransmissionId" asp-items="@Model.TransmissionItems" class="form-control"></select>
        <span asp-validation-for="TransmissionId"></span>
    </div>
    <div class="form-group">
        <label asp-for="ColorId"></label>
        <select asp-for="ColorId" asp-items="@Model.ColorItems" class="form-control"></select>
        <span asp-validation-for="ColorId"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConditionId"></label>
        <select asp-for="ConditionId" asp-items="@Model.ConditionItems" class="form-control"></select>
        <span asp-validation-for="ConditionId"></span>
    </div>
    <div class="form-group">
        <select asp-items="@Model.BrandItems" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="BodyStyleId"></label>
        <select asp-for="BodyStyleId" asp-items="@Model.BodyStyleItems" class="form-control"></select>
        <span asp-validation-for="BodyStyleId"></span>
    </div>
    <div class="form-group">
        <select asp-items="@Model.RegionItems" class="form-control"></select>
    </div>
    <div>
        <label asp-for="ModelId"></label>
        <select asp-for="ModelId" id="models" class="form-control">
            <option value="1">@DefaultSelectListItemText</option>
        </select>
        <span asp-validation-for="ModelId"></span>
    </div>
    <div>
        <label asp-for="TownId"></label>
        <select asp-for="TownId" id="towns" class="form-control">
            <option value="1">@DefaultSelectListItemText</option>
        </select>
        <span asp-validation-for="TownId"></span>
    </div>

    <input type="submit" value="Create" class="form-control btn btn-info col-md-4"/>
</form>

<script>
    const defaultOptionName = "@Html.Raw(DefaultSelectListItemText)";
    const token = "XXXXXXXX_XXXXXXXX_XXXXXXXX_XXXXXXX";

    function updateModelsByBrand(sender) {
        const data = { BrandId: sender?.value };
        sendPostRequest("/Adverts/GetModelsByBrand", data, (res) => updateSelectElement("models", res));
    }

    function updateTownsByRegion(sender) {
        const data = { RegionId: sender?.value };
        sendPostRequest("/Adverts/GetTownsByRegion", data, (res) => updateSelectElement("towns", res));
    }

    function sendPostRequest(url, data, onSuccess) {
        $.ajax({
            url: url,
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            headers: { "X-CSRF-TOKEN": token },
            success: (res) => onSuccess(res),
        });
    }

    function updateSelectElement(id, items) {
        let models = document.querySelector(`#${id}`);
        models.innerHTML = STRING_EMPTY;
        items.unshift({ name: defaultOptionName, id: STRING_EMPTY });
        for (let model of items) {
            let option = document.createElement("option");
            option.textContent = model.name;
            option.value = model.name === defaultOptionName ? STRING_EMPTY : model.id;
            models.appendChild(option);
        }
    }
</script>